<app-header title="Dispatcher"></app-header>
<div class="container">
  <div class="section-1">
    <div class="center-heading">

      <p>Einsatz-Liste</p>
      <button style="position:absolute; right: 3px;" mat-icon-button (click)="unselectIncident()"
        [disabled]="selectedIncident === null" aria-label="Einsatz abwählen">
        <mat-icon>deselect</mat-icon>
      </button>
    </div>
    <div class="section-vert-1 scrollsection" [ngClass]="{'section-vert-1-checked' : selectedIncident !== null}"
      style="border-bottom: 1px solid #ccc;">

      <table mat-table [dataSource]="incidents" class="mat-elevation-z8 incident-table">
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dispatch Status </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.status" class="check" fontIcon="task_alt"></mat-icon>
            <mat-icon *ngIf="!element.status" class="notcheck" fontIcon="circle"></mat-icon>

          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Standort </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Klassifikation </th>
          <td mat-cell *matCellDef="let element"> {{element.class}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Uhrzeit </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>

        <tr mat-row (click)="selectIncident(row)" [ngClass]="{'selected-incident': row == selectedIncident}"
          *matRowDef="let row; columns: displayedColumnsIncidents;"></tr>
      </table>
    </div>
    <div class="center-heading">
      <p>Ausgewählter Einsatz</p>
    </div>
    <div class="section-vert-2 scrollsection" *ngIf="selectedIncident !== null">
      <mat-grid-list cols="5" rowHeight="3:1">
        <mat-grid-tile colspan="2" class="incident-key">Dispatch Status</mat-grid-tile>
        <mat-grid-tile colspan="3" class="incident-property">Dispatched</mat-grid-tile>
        <mat-grid-tile colspan="2" class="incident-key">Klassifikation</mat-grid-tile>
        <mat-grid-tile colspan="3" class="incident-property">Atemnot</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div class="section-2">
    <div class="center-heading">
      <p>Resourcen</p>
      <mat-slide-toggle  [(ngModel)]="showDispatched" matTooltip="Zugewiesene Resourcen anzeigen" style="position:absolute; right: 10px;">
      </mat-slide-toggle>
    </div>

    <button style="position:absolute; bottom: 15px; right: 20px; z-index: 999;" color="primary" mat-flat-button (click)="dispatchIncident()"
    [disabled]="selectedIncident === null" aria-label="Einsatz dispatchen">
    Dispatch
  </button>
   
    <mat-tab-group class="resource-tabs">
      <mat-tab label="Standard">
        <div class="section-vert-3 scrollsection">

          <table mat-table [dataSource]="resources" class="mat-elevation-z8">

            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef> Location </th>
              <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> <span *ngIf="recommended.has(element.id)"
                  style="color: green;">Empfohlen <br></span> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> <mat-icon *ngIf="element.assignedIncident" class="notcheck"
                  fontIcon="crisis_alert"></mat-icon>
                <mat-icon *ngIf="!element.assignedIncident" class="check" fontIcon="house"></mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="locate">
              <th mat-header-cell *matHeaderCellDef> Locate </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Resource lokalisieren" >
                  <mat-icon>location_pin</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="assign">
              <th mat-header-cell *matHeaderCellDef>assign</th>
              <td mat-cell *matCellDef="let element">

                <button *ngIf="!assignedResources?.includes(element)"  (click)="assignResource(element)" mat-icon-button [disabled]="selectedIncident === null"
                aria-label="Ressource zuweisen">
                <mat-icon>add</mat-icon>
              </button>
              <button *ngIf="assignedResources?.includes(element)" (click)="unassignResource(element)" mat-icon-button [disabled]="selectedIncident === null"
              aria-label="Ressource abwählen">
              <mat-icon class="notcheck">close</mat-icon>
            </button>

              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumnsResources;" [ngClass]="{'hidden': !showDispatched && row.assigned}"></tr>
          </table>
        </div>

      </mat-tab>
      <mat-tab label="Zusätzlich">

        <div class="section-vert-3 scrollsection">

          <table mat-table [dataSource]="resourcesAdditional" class="mat-elevation-z8">

            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef> Location </th>
              <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> <mat-icon *ngIf="element.assigned" class="notcheck"
                fontIcon="crisis_alert"></mat-icon>
              <mat-icon *ngIf="!element.assigned" class="check" fontIcon="house"></mat-icon>
            </td>
            </ng-container>

            <ng-container matColumnDef="locate">
              <th mat-header-cell *matHeaderCellDef> Locate </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Resource lokalisieren">
                  <mat-icon>location_pin</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="assign">
              <th mat-header-cell *matHeaderCellDef>assign</th>
              <td mat-cell *matCellDef="let element">
                <button *ngIf="!assignedResources?.includes(element)"  (click)="assignResource(element)" mat-icon-button [disabled]="selectedIncident === null"
                  aria-label="Ressource zuweisen">
                  <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="assignedResources?.includes(element)" (click)="unassignResource(element)" mat-icon-button [disabled]="selectedIncident === null"
                aria-label="Ressource abwählen">
                <mat-icon class="notcheck">close</mat-icon>
              </button>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumnsResourcesAdditional;" [ngClass]="{'hidden': !showDispatched && row.assigned}"></tr>
          </table>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>
  <div class="section-3">
    <div class="map" leaflet [leafletOptions]="options">
    </div>
  </div>
</div>
