<app-header title="Call-Taker"></app-header>
<div class="button-container">
<button class="main-button" mat-flat-button color="primary" (click)="performMainAction()">Neuer Einsatz</button>
<form class="example-form" style="margin-left: 40px; margin-top: 20px;">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
  </mat-form-field>
    </form>
</div>

<div class="dashboard-container">

  <!-- List of incidents -->
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dispatch Status </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon *ngIf="element.status" class="check" fontIcon="check"></mat-icon>
        <mat-icon *ngIf="!element.status" class="notcheck" fontIcon="close"></mat-icon>

    </td>
    </ng-container>
  
    <!-- Location Column -->
    <ng-container matColumnDef="location" >
      <th mat-header-cell *matHeaderCellDef> Standort </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
  
    <!-- Classification Column -->
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Klassifikation </th>
      <td mat-cell *matCellDef="let element"> {{element.class}} </td>
    </ng-container>
  
    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Uhrzeit </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row (click)="showDetail(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
