<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="changeIndex($event)" *ngIf="isSelectionQuestionDefined()">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon *ngIf="isSelectionQuestionAnswered()" class="check">check</mat-icon>
      <mat-icon *ngIf="!isSelectionQuestionAnswered()" class="notcheck">close</mat-icon>
      Protokoll
    </ng-template>
    <div class="tab-center">
      <h3>{{ getSelectionQuestion()?.baseQuestion?.text }}</h3>
      <mat-form-field style="width: 400px">

        <mat-select [(ngModel)]="selectionQuestionOption">
          <mat-option *ngFor="let option of getSelectionQuestion()?.baseQuestion?.fields?.at(0)!.options" [value]="option">{{ option }}</mat-option>
        </mat-select>

<!--        <mat-radio-button-->
<!--          *ngFor="let option of getSelectionQuestion()?.baseQuestion?.fields?.at(0)!.options"-->
<!--          class="radio-button"-->
<!--          color="primary" value="{{ option }}">-->
<!--            {{ option }}-->
<!--        </mat-radio-button>-->

      </mat-form-field>
      <button mat-flat-button color="primary" (click)="answerSelectionQuestion(selectionQuestionOption)">Bestätigen</button>
    </div>
  </mat-tab>

  <mat-tab *ngFor="let protocolQuestion of getProtocolQuestions(); let i = index" [attr.data-index]="i">
    <ng-template mat-tab-label>
      <mat-icon *ngIf="isProtocolQuestionAnswerd(protocolQuestion.id)" class="check">check</mat-icon>
      <mat-icon *ngIf="!isProtocolQuestionAnswerd(protocolQuestion.id)" class="notcheck">close</mat-icon>
      Protokoll Frage {{ i + 1 }}
    </ng-template>
    <div class="tab-center">
      <h3>{{ protocolQuestion.text }}</h3>
      <div *ngFor="let field of protocolQuestion.fields!">
        <!-- TODO other field types -->
        <mat-form-field *ngIf="field.type == FieldType.SINGLE_CHOICE" style="width: 400px">
          <mat-label>Auswählen</mat-label>
          <mat-select [(ngModel)]="selectedProtocolOptions[protocolQuestion.protocolId][protocolQuestion.id][field.fieldId]">
            <mat-option *ngFor="let option of field.options" [value]="option.text">{{ option.text }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary"
              (click)="answerProtocolQuestion(
                protocolQuestion,
                selectedProtocolOptions[protocolQuestion.protocolId][protocolQuestion.id],
                selectedIndex + 1)
              ">
        Bestätigen
      </button>
    </div>
  </mat-tab>
  <mat-tab *ngIf="recommendation != ''">
    <ng-template mat-tab-label>
      <mat-icon class="done">cloud_done</mat-icon>
      Vorschlag des Systems
    </ng-template>
    <div class="tab-center">
      <h3>Vorschlag des Kategorisierungs-Systems</h3>
        <span style="font-size: 20px; margin: 0 0 5px 0;"><b>{{ recommendation }}</b></span>
    </div>
  </mat-tab>

<!--  <mat-tab>-->
<!--    <ng-template mat-tab-label>-->
<!--      <mat-icon class="notcheck">close</mat-icon>-->
<!--      Third-->
<!--    </ng-template>-->
<!--    <div class="tab-center">-->
<!--      <h3>Frage 3:</h3>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Select</mat-label>-->
<!--        <mat-select>-->
<!--          <mat-option value="one">First option</mat-option>-->
<!--          <mat-option value="two">Second option</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <button mat-flat-button color="primary">Bestätigen</button>-->
<!--    </div>-->
<!--  </mat-tab>-->
</mat-tab-group>
