<app-header style="position: fixed; width:100%; z-index: 9999;" [backButton] = "true" backRoute = "/calltaker" title="Einsatz Details" [backCheck]="false"></app-header>

<div class="container">
<button style="position: fixed; right: 30px" mat-raised-button color="primary" (click)="editIncident()">Einsatz bearbeiten</button>

<div class="map" (leafletMapReady)="onMapReady($event)" leaflet [leafletOptions]="options">
</div>
<br>

<mat-grid-list cols="5" rowHeight="50px" style="width: 50%">
  <mat-grid-tile colspan="2" class="key">PLZ</mat-grid-tile>
  <mat-grid-tile colspan="3" class="property">{{incident?.location?.description?.postalCode}}</mat-grid-tile>
  <mat-grid-tile colspan="2" class="key">Ort</mat-grid-tile>
  <mat-grid-tile colspan="3" class="property">{{incident?.location?.description?.city}}</mat-grid-tile>
  <mat-grid-tile colspan="2" class="key">Straße</mat-grid-tile>
  <mat-grid-tile colspan="3" class="property">{{incident?.location?.description?.street}}</mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" class="key">Zusätzliche Standortinformationen</mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2" class="property">{{incident?.location?.description?.additionalInformation}}</mat-grid-tile>
  <mat-grid-tile colspan="2" class="key">Dispatch Status</mat-grid-tile>
  <mat-grid-tile colspan="3" class="property">{{incident?.status}}</mat-grid-tile>
</mat-grid-list>

<h3>Klassifizierung: {{incident?.categorization?.code}}</h3>

<h4>Personen</h4>

<mat-grid-list cols="6" rowHeight="50px" style="width: 50%">
  <mat-grid-tile colspan="6" class="incident-property" style="background-color: lightgrey;"><i>AnruferIn</i></mat-grid-tile>
  <mat-grid-tile colspan="2" class="key-normal">Max Mustermann</mat-grid-tile>
  <mat-grid-tile colspan="2" class="key-normal">Männlich</mat-grid-tile>
  <mat-grid-tile colspan="2" class="property">20</mat-grid-tile>
  <mat-grid-tile colspan="6" class="incident-property" style="background-color: lightgrey;"><i>Betroffene</i></mat-grid-tile>
  <ng-container *ngFor="let patient of incident?.patients"> 
    <mat-grid-tile colspan="3" class="key-normal">{{patient.sex}}</mat-grid-tile>
    <mat-grid-tile colspan="3" class="property">{{patient.age}}</mat-grid-tile>
  </ng-container>

</mat-grid-list>




<h4>Fragen</h4>

<mat-list>
  <mat-list-item>
    <span matListItemTitle>Personenanzahl</span>
    <span matListItemLine>Produced by a plant</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>Uhrzeit</span>
    <span matListItemLine>Extracted from sea water</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <span matListItemTitle>Zugänglichkeit</span>
    <span matListItemLine>Extracted from sea water</span>
  </mat-list-item>
</mat-list>
</div>