.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 84px;
  overflow: auto;

}

.property{
  border-bottom: 1px solid lightgray;
}

.key{
  font-style: italic;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid gray;
}

.key-normal{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid gray;
}

.map {
  height: 50vh;
  width: 40vw;
  padding: 0;
}