<app-header [backButton]="true" backRoute="/calltaker" title="Neuer Einsatz"></app-header>
<div class="container">
  <mat-stepper #stepper (selectionChange)="handleSelectionChange($event.previouslySelectedStep.label)">
    <mat-step label="{{ locationFormLabel }}">
        <ng-template matStepLabel>Standort</ng-template>
        <location-form> </location-form>
    </mat-step>
    <mat-step label="{{ personsFormLabel }}">
      <ng-template matStepLabel>Personen</ng-template>
        <persons-form> </persons-form>
    </mat-step>

    <mat-step label="{{ questionsFormLabel }}">
      <ng-template matStepLabel>Fragen</ng-template>
      <questions-form> </questions-form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Klassifikation</ng-template>

      <div class="center" *ngIf="recommendedCategory">
        <p>Empfehlung des Klassifizierungssystems: </p>
        <span style="font-size: 20px; margin: 0 0 5px 0;"><b>{{ recommendedCategory }}</b></span>
        <br>
        <mat-divider style="width: 400px"></mat-divider>
        <br>
      </div>
      <div class="center-last">
        <span style="margin-top: 5px;">Ausgewählt:</span>
        <button style="margin: 10px 0 10px 0;" mat-raised-button [matMenuTriggerFor]="categories">
          <span style="font-size: 20px;">{{ selectedCategory ? selectedCategory : "Kategorie auswählen" }}</span>
        </button>
        <mat-menu #categories="matMenu">
          <button mat-menu-item (click)="changeCategory('01A01')">01A01 - Bauchschmerzen</button>
          <button mat-menu-item [matMenuTriggerFor]="C0T">Kategorie 0</button>
          <button mat-menu-item [matMenuTriggerFor]="C1C">Kategorie 1</button>
        </mat-menu>

        <mat-menu #C0T="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="C0T0C">Type 0</button>
          <button mat-menu-item [matMenuTriggerFor]="C0T1C">Type 1</button>
        </mat-menu>

        <mat-menu #C1C="matMenu">
          <button mat-menu-item (click)="changeCategory('C1C0')">C1C0</button>
          <button mat-menu-item (click)="changeCategory('C1C1')">C1C1</button>
        </mat-menu>

        <mat-menu #C0T0C="matMenu">
          <button mat-menu-item (click)="changeCategory('C0T0C0')">C0T0C0</button>
          <button mat-menu-item (click)="changeCategory('C0T0C0')">C0T0C0</button>
        </mat-menu>

        <mat-menu #C0T1C="matMenu">
          <button mat-menu-item (click)="changeCategory('C0T1C0')">C0T1C0</button>
          <button mat-menu-item (click)="changeCategory('C0T1C1')">C0T1C1</button>
        </mat-menu>
        <br>
        <mat-divider style="width: 400px"></mat-divider>

        <div *ngIf="loadSummary()" class="center" style="margin: 0 0 5px 0;">
          <p>Zusammenfassung des Befragungsschemas</p>
          <mat-chip-set aria-label="Fish selection">
            <mat-chip *ngFor="let tag of summaryTags">{{ tag }}</mat-chip>
          </mat-chip-set>
        </div>
        <br>
        <button [disabled]="!categorySet() || !locationCoordinatesSet()" mat-flat-button color="primary" (click)="saveIncident()" matStepperNext>Einsatz speichern</button>
        <div style="color: red; text-align: center">
          <p *ngIf="!categorySet()">Es muss eine Kategorie gesetzt sein!</p>
          <p *ngIf="!locationCoordinatesSet()">Es müssen Einsatzkoordinaten gesetzt sein!</p>
        </div>
      </div>
    </mat-step>
  </mat-stepper>

</div>
